/**
 *
 * FILE: main.scss
 *
 * DATE: 2014
 * VERSION 1.0
 *
 */
@import "compass";
@import "susy";
//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "variables";
  @import "vendor";

//*-------------------------------------*
//  $TYPE
//*-------------------------------------*

  @import "type/fonts";
  @import "type/icons";
  @import "type/type";

//*-------------------------------------*
//  $PARTIALS
//*-------------------------------------*
@import "partials/shared";
//*-------------------------------------*
//  $LAYOUTS
//*-------------------------------------*

@import "layouts/layout";

//*-------------------------------------*
//  $OBJECTS
//*-------------------------------------*

//*-------------------------------------*
//  $HELPERS
//*-------------------------------------*

