.contact-card {
    margin-left: span(2);
    @include span(8);
    background-color: $green;
    margin-top: 30%;
    height:300px;


}



.contact-card__left {

    @include mq( $from: macro-small ) {
            @include span(6 first);
    }

    @include mq( $to: macro-medium ) {
        @include gutters($flexdd-base-spacing-unit inside);
    }

    p{
    text-align: left;
    }
}

.contact-card--padding {
    padding-top: $flexdd-base-spacing-unit;
    padding-bottom: $flexdd-base-spacing-unit;
}


.contact-card__right {


    @include mq( $from: macro-small ) {
            @include span(6 last);
    }

    @include mq( $to: macro-medium ) {
        @include gutters($flexdd-base-spacing-unit inside);
    }

    p {
        text-align: left;
    }
}
