.me-box {
    @include span(12 last);
}



.me-box__left {

    @include mq( $from: macro-small ) {
            @include span(8 first);
    }

    @include mq( $to: macro-medium ) {
        @include gutters($flexdd-base-spacing-unit inside);
    }

    p{
    text-align: left;
    }
}

.me-box__left--padding {
    padding-top: $flexdd-base-spacing-unit;
    padding-bottom: $flexdd-base-spacing-unit;
}


.me-box__right {

    @include mq( $from: macro-small ) {
            @include span(2 last);
    }

    @include mq( $to: macro-medium ) {
        @include gutters($flexdd-base-spacing-unit inside);
    }

    p {
        text-align: center;
    }
}

.me-box__right--padding {
    padding-top: $flexdd-base-spacing-unit;
    padding-bottom: $flexdd-base-spacing-unit;
}