/**
 * Type File
 *
 * Used to setup the type configuration
 * Custom type styles and sizes belong in here.
 */

.i-anchor {
  @include icon( $anchor );
  font-size: 72px;
  &:hover{
    color:red;
  }
}

.layout__content--cover {
    .loading{
        .svg-load-icon {
            height:120px;
        }
        text-align: center;

    }
}

.layout__title--me {
    text-align: center;

}