%wrap,
.wrap {

    @include container;
    @include rem((padding: 0 $flexdd-half-spacing-unit ));
    position: relative;

    @include mq( $from: macro-medium ) {
        @include rem((
            padding: 0 32px
        ));
    }
}

.wrap--me {
    position: absolute;
    width: 50%;
    height: 40%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.wrap--contact {

    @include container;
    @include rem((padding: 0 $flexdd-half-spacing-unit ));
    position: relative;

    @include mq( $from: macro-medium ) {
        @include rem((
            padding: 0 32px
        ));
    }
}