.site-header{
    visibility: hidden;
    li {
    display: inline-block;
    clear: both;

    a {
        color:$blue-dark;
    }
    }

    border-bottom: 1px solid darken(rgba($white,0.95),20%);


    width:100%;
    z-index:1;
    margin-bottom: -46px;
    background-color:rgba($white,1);
    height:46px;
    text-align: center;

    @include mq( $to: macro-medium ) {
        display:none;
    }
    -webkit-transition: background-color 1s;
}

.nav-links {
    padding-top:12px;

}

.site-header--sticky {
    height: 46px;
    background-color:rgba($white,0.90);

    position: fixed;
    top: 0; left: 0;
    z-index: 2;
    border-bottom: 1px solid darken(rgba($white,0.95),20%);

    li a {
        color:$blue-dark;
    }


}