.layout {
    @extend %cf;
    position: relative;
    -webkit-backface-visibility: hidden;
        -webkit-transition: translate3d(0,0,0);
}

.layout--me {
    background-color:$blue-dark;
    color:$green;
    height: 100%;
    margin-bottom:-70px;
    z-index: -1;

    @include mq( $to: macro-medium ) {
        display:none;
    }
}

.layout--with-padding {
    padding-top: $flexdd-double-spacing-unit;
    padding-bottom: $flexdd-double-spacing-unit;
}

.layout--green {
    background-color:$green;
    color:$blue-dark;
}

.layout--blue {
    background-color:$blue-dark;
    color:$green;
}

.layout--about{
    @include mq( $from: macro-small ) {
        margin-top: 70px;
    }
}

