.layout {
    @extend %cf;
    position: relative;
    -webkit-backface-visibility: hidden;
    -webkit-transition: translate3d(0,0,0);
    height: 100%;
}


.layout--me {
    background-color:$blue-dark;

    color:$white;
    height: 100%;
    margin-bottom:-46px;
    z-index: -1;

    @include mq( $to: macro-medium ) {
        display:none;
    }
}

#projects{
      overflow: hidden;
}

.layout--with-padding {
    padding-top: $flexdd-double-spacing-unit*2;
    padding-bottom: $flexdd-double-spacing-unit*2;
}

.layout--with-padding-top {
    padding-top: $flexdd-double-spacing-unit*2;
}

.layout--green {
    background-color:$green;
    color:$blue-dark;
}

.layout--blue {
    background-color:$blue-dark;
    color:$white;
}

.layout--white {
    background-color:$white;
    color:$blue-dark;
    @include mq( $from: macro-small ) {
        height:90%;
    }

}

.layout--white-dark {
    background-color:$white-dark;
    color:$blue-dark;
}

.layout--about{
    @include mq( $from: macro-small ) {
        margin-top: 46px;
    }
}

.layout--contact {
    height:100%;
}

