.layout {
    @extend %cf;
    position: relative;
    -webkit-backface-visibility: hidden;
        -webkit-transition: translate3d(0,0,0);
}

.layout--me {
    background-color:red;

}

.layout--cover {
    background-color:blue;
}